.label-basis_edit {
  margin-top: 5px;
}

.btn-basis_edit {
  margin: 15px 0;
  width: 30%;
}

.label-basis_new {
  margin-top: 5px;
}

.btn-basis_new {
  margin: 15px 0;
  width: 30%;
}

.base-table td {
  vertical-align: bottom;
  text-align: center;
  tr:nth-child(odd) {
    background: rgb(201, 201, 201);
  }
}
