.user-table td {
  vertical-align: bottom;
  text-align: center;
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

#table-users {
  td {
    vertical-align: middle;
  }
}

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

#table-attendances td {
  vertical-align: bottom;
  text-align: center;
}

#body-attendances tr:nth-child(odd) {
  background: rgb(243, 242, 242);
}

.apply {
  color: #000000 ;
}

.apply-notice {
  color: red;
}

.apply-notice-span {
  color: red;
  border: 2px solid red;
  font-weight: bold;
}
