<% provide(:title, 'Base') %>
<h1>拠点一覧</h1>

  <div class="container">
    <table class="table table-bordered table-condenced user-table">
      <tr>
        <td></td>
        <td></td>
        <td><%= Base.human_attribute_name :base_number %></td>
        <td><%= Base.human_attribute_name :base_name %></td>
        <td><%= Base.human_attribute_name :attendance_type %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table> 
  </div>
